
h1{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}
h3{
    font-weight: bold;
    font-style: italic;
	margin-top: 3em;
	font-size: 17px;
}
h4{
	font-style: italic;
	text-decoration: underline;
	font-size: 14px;
}
.mat-typography{ height: 100%; width: 80%;  font-family: "Times New Roman", Times, serif;}
