<div class=MainHeaderDive>
  <div class=imgHeader>
   <!--  <img src="../../assets/img/thumbnail_Foto_50 jaar Foyer1.jpg" alt="header IMG" class="headerFoto" /> -->
   <ngb-carousel  *ngIf="images" [showNavigationIndicators]="false" >
    <ng-template  ngbSlide>
      <img class="headerFoto" [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
      
        <p> <a  class="headerIcon" href="https://www.facebook.com/pages/category/Amateur-Sports-Team/ATLEMO-209947102367668/"> 
          <mat-icon  svgIcon="Facebook"></mat-icon></a>
          <a  class="headerIcon" href=""> 
            <mat-icon svgIcon="Instagram"></mat-icon></a>
            <a  class="headerIcon" href=""> 
              <mat-icon svgIcon="Foto-album"></mat-icon></a></p>

       <!--  <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
      -->
          
          
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="headerFoto"  [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <p> <a  class="headerIcon" href="https://www.facebook.com/pages/category/Amateur-Sports-Team/ATLEMO-209947102367668/"> 
          <mat-icon  svgIcon="Facebook"></mat-icon></a>
          <a  class="headerIcon" href=""> 
            <mat-icon svgIcon="Instagram"></mat-icon></a>
            <a  class="headerIcon" href=""> 
              <mat-icon svgIcon="Foto-album"></mat-icon></a></p>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="headerFoto" [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <p> <a  class="headerIcon" href="https://www.facebook.com/pages/category/Amateur-Sports-Team/ATLEMO-209947102367668/"> 
          <mat-icon  svgIcon="Facebook"></mat-icon></a>
          <a  class="headerIcon" href=""> 
            <mat-icon svgIcon="Instagram"></mat-icon></a>
            <a  class="headerIcon" href=""> 
              <mat-icon svgIcon="Foto-album"></mat-icon></a></p>
        
      </div>
    </ng-template>
  </ngb-carousel>
 
  </div>
  <div class=socialMediaHeader>
    <div class="icons">
      <img  src="../../assets/img/foyer.png" alt="Logo van Foyer Molenbeek" class="fotosLogos">
    </div>
    <div class="icons">
      <img  src="../../assets/img/index.png" alt="Logo van VGC" class="fotosLogos">
    </div>
    <div class="icons">
      <img  src="../../assets/img/brusselsGz.jpg" alt="Logo van Brussels geweste" class="fotosLogos">
    </div>

  </div>
  <div class=navHeader>
    <mat-toolbar   class="navbar">
      <div>
        <a routerLink="home">
          <mat-icon aria-hidden="false" class="iconhome" aria-label="Example home icon">home</mat-icon>
        </a>
      </div>

      <div>
     <!--    dit is de dropdown menu zelf -->
        <mat-menu #appMenu="matMenu">
          <button  class="submenu" routerLink="algemeneInformatie" mat-menu-item>Algemene Info</button>
          <button  class="submenu" routerLink="beleidsplan" mat-menu-item>Beleidsplan</button>
          <button  class="submenu" routerLink="contact" mat-menu-item>Contact</button>
          <button  class="submenu" routerLink="inschrijving" mat-menu-item>Inschrijving</button>
        </mat-menu>

<!-- dit is de hoofmenu -->
        <button mat-flat-button  [matMenuTriggerFor]="appMenu" class="spanNave">Info</button>
        <button mat-flat-button  routerLink="trainingen" class="spanNave">Trainingen</button>
        <button mat-flat-button  routerLink="wedstrijden" class="spanNave">Wedstrijden</button>
        <button mat-flat-button routerLink="clubrecords"  class="spanNave">Clubrecords</button>
        <button mat-flat-button routerLink="links" class="spanNave">Links</button>
      </div>
    </mat-toolbar>
  </div>
</div>
