/* .MainHeaderDive{
    border: red ridge ;
    width: 100%;
    height: 37em;
}


.socialMediaHeader{
    border: green ridge;
    width: 100%;
    height: 5em;
}
.navHeader{
    border: black ridge;
    width: 100%;
    height: 5em;
} */
.imgHeader{
 /* border: red ridge; */
    width: 60em;
    margin: 0 auto;
    height: 28em;

    display: flex;
    flex-direction: row;
   justify-content: flex-end;
    background-color: white;
    align-items: flex-end;
   /*  background-image: url("../../assets/img/header.jpg"); */
   background-color: rgb(51, 37, 241);
 


}
.headerFoto{
    height: 28em;
     width: 60em;
  
 }

.headerIcon{color: white;margin-left: 1em;}
.socialMediaHeader{
    /* border: green ridge; */
       width: 100%;
       height: 4em;
       /* text-align: center */
       display: flex;
       flex-direction: row;
       justify-content: center;
       background-color: white;
     
   }
 
 .icons{
     /* border: red ridge; */
     width: 4em;
     height: 3em;
     padding-bottom: 0.5em;
     margin-right: 2.5em;
     
 }

 


