
h1{
   
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: lighter;
    
}
h3{
    font-weight: bold;
    font-style: italic;
	margin-top: 3em;
	font-size: 17px;
}
h4{
	font-style: italic;
	text-decoration: underline;
	font-size: 14px;
}
.mat-typography{ height: 100%;padding-top:1em; margin:0 auto; width: 50%;  font-family: "Times New Roman", Times, serif; display: flex;flex-direction: column;}
.mainLinks{width: 100%;height: 5em;border-top: ridge thin rgb(163, 163, 163);border-bottom: ridge rgb(163, 163, 163) 1px;display: flex;flex-direction: row;padding-top: 1em;padding-bottom: 1em;}
.mainLinks:hover{background-color:  rgba(230, 230, 230, 0.959);}
.logoLinks{width: 20%; height: 100%;}
.textLinks{width: 70%; height: 100%;margin-left: 1em;}
.textLinks a{ color: rgb(51, 37, 241);font-size: 15px;}
.textLinks p{ font-size: 17px;}
