<div class=bodyPageDive>

  <!-- begin div met alle artikels -->
  <div class="articleDiv">
    <!-- article 1 -->
    <div class="storyArticle">

      <div class=articleFoto>
        <a href="https://photos.app.goo.gl/FSdVas8bfg7dagcMA"><img src="../../assets/img/ismaelaW.jpg" alt="eader IMG"
            class="fotoArticle" />
        </a>
      </div>
      <div class=articletext>
        <p><span class="titleEvent">Meeting in Vorst op 8/7</span><br>

          <p>Mooie prestaties op zaterdag tijdens de jeugdmeeting in Vorst - met als hoogtepunt vier medailles:
            <span *ngIf="!isCollapsed">Isra
              won een zilveren medaille op de 600m, terwijl Ismaila maar liefst drie medailles mee naar Molenbeek
              bracht:
              zilver voor het kogelstoten en twee maal brons voor de 60m en de 600m! Benaissa werd twee maal vierde op
              de
              60m en de 600m. Noheyla en Faycal eindigden eveneens telkens vierde op de 1000m. Proficiat ook aan alle
              andere
              jeugdatleetjes! Vive Atlemo! </span></p>
          <button (click)="meerMinderToggle()" mat-stroked-button class="meerMinder">Meer/Minder</button>

      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- article 2 -->
    <div class="storyArticle">
      <div class=articleFoto>
       <a href="https://photos.app.goo.gl/UhmcyuYrFK2AdghJ6"> <img src="../../assets/img/60260600_2585361131492908_8079722426042155008_n.jpg" alt="eader IMG" class="fotoArticle" />
</a>
      </div>
      <div class=articletext>
        <p><span class="titleEvent">Meeting in Duffel op 11/5</span><br>

          <p>samedi 11 mai avait lieu le meeting de duffel..
            13 jeunes athlètes d'Atlemo ont participés à cette compétition ,pour leur première fois,<span
              *ngIf="!isCollapsed">ils se sont très bien battus et bien amusés.
              Bravo à Benaissa qui termine sa course sur la 1ère marche du podium au 60 m.
              Merci au parents, entraîneurs de leurs aides et rendez-vous à la prochaine compétition. </span></p>
          <button (click)="meerMinderToggle()" mat-stroked-button class="meerMinder">Meer/Minder</button>


      </div>

      <mat-divider></mat-divider>
      <!-- article 3 -->
    </div>

    <div class="storyArticle">
      <div class=articleFoto>
        <img src="../../assets/img/aspIni.jpg" alt="eader IMG" class="fotoArticle" />

      </div>
      <div class=articletext>
        <p><span class="titleEvent">Opleiding Aspirant-Initiator Atletiek</span><br>

          <p>Opleiding Aspirant-Initiator Atletiek - 4 en 5 mei 2019 - Sippelberg, Sint-Jans-Molenbeek. <span
              *ngIf="!isCollapsed">
              Proficiat aan de hele groep. Sterk werk van kersverse lesgevers Ayoub, Sedric en Chinook. In samenwerking
              met Les Gazelles de Bruxelles, BAV, Sportinbrussel, Vlaamse Atletiekliga
              Bravo à Benaissa qui termine sa course sur la 1ère marche du podium au 60 m.
            </span></p>
          <button (click)="meerMinderToggle()" mat-stroked-button class="meerMinder">Meer/Minder</button>


      </div>
    </div>
    <mat-divider></mat-divider>
    <!-- article 4 -->
    <div class="storyArticle">
      <div class=articleFoto>
        <img src="../../assets/img/dagArbeid.jpg" alt="eader IMG" class="fotoArticle" />

      </div>
      <div class=articletext>
        <p><span class="titleEvent">Dag van de arbeid</span><br>

          <p>Drukke dag voor Atlemo op de dag van de arbeid: in de voormiddag organiseerden onze jeugdtrainers een
            meerkamp voor onze jeugdatleetjes <span *ngIf="!isCollapsed">(benjamins, pupillen en miniemen) op onze piste - in de namiddag snelde
            Bilal naar een sterk PR tijdens de tien km van Knokke - en 's avonds brak Anas de negen minuten barrière
            tijdens zijn 3000m in Herentals! 

            </span></p>
          <button (click)="meerMinderToggle()" mat-stroked-button class="meerMinder">Meer/Minder</button>
        </div>
      </div>
          <mat-divider></mat-divider>
          <!-- einde div met alle artikels -->


      </div>
      <!-- Begin div met alle Events -->


      <div class="eventsDiv">
        <!--  event 1 -->

        <div class="eventInfo">
          <p><span class="titleEvent">EINDEJAARS FEEST</span><br>
            <span class="middenEvent">30/6 in Molenbeek</span> <br>
            <span class="EindeEvent">Voor meer info of inschrijving: 0484937668</span> </p>

        </div>
        <mat-divider></mat-divider>
        <!--  event 2 -->
        <div class="eventInfo">
          <p><span class="titleEvent">ATLETIEK KAMP</span><br>
            <span class="middenEvent">1-12/7 in Molenbeek</span> <br>
            <span class="EindeEvent">Voor meer info of inschrijving: 0484937668</span> </p>

        </div>
        <mat-divider></mat-divider>

        <!--  event 3 -->
        <div class="eventInfo">
          <p><span class="titleEvent">JOGGIN FOYER </span><br>
            <span class="middenEvent">14/9 in Molenbeek</span> <br>
            <span class="EindeEvent">voor meer info of <a
                href="https://www.hopasports.com/nl/event/jogging-foyer-2019">Inschrijving</a></span> </p>

        </div>

        <mat-divider></mat-divider>
        <!--  event 4 -->
        <div class="eventInfo">
          <p><span class="titleEvent">INSCHRIJVINGSMOMENT </span><br>
            <span class="middenEvent">Begin Oktober in Molenbeek</span> <br>
            <span class="EindeEvent">Meer informatie iformatie volgt nog</span> </p>

        </div>

        <mat-divider></mat-divider>
        <!--  event 5 -->
        <div class="eventInfo">
          <p><span class="titleEvent">KIDS ATHELETICS </span><br>
            <span class="middenEvent">Mei in Molenbeek</span> <br>
            <span class="EindeEvent">Meer informatie iformatie volgt nog</span> </p>
        </div>

        <mat-divider></mat-divider>
      </div>
      <!-- Einde div met alle Events -->
    </div>
