.bodyPageDive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
.titleEvent{font-size: 20px;font-weight: bold;}
.articleDiv {
  border:thin solid  rgb(185, 185, 185);
  width: 55%;
  height: auto;
  box-shadow: 2px 2px 5px rgb(173, 173, 173); 
}
.titleArtitle{width: 100%;height: 5em;padding-bottom: 0px; }
.eventsDiv {
 
  width: 30%;
  height:50%;
  margin-left: 2em;
  box-shadow: 2px 2px 5px rgb(173, 173, 173); 
}
.eventInfo{
  
   width: 100%;
   height: auto;
   padding-left: 1em;
}
button{background-color:rgb(51, 37, 241);color: white; }

mat-divider{width: 90%;margin: 0 auto;}
.storyArticle {
 
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}

.articleFoto {
 
  width: 11em;
  height: 10em;
  padding-top: 0.5em;
}

.fotoArticle {
  width: 100%;
  height: 80%;
}

.meerMinder {
  font-size: 12px;
  margin-bottom: 1em;
  height: 2.5em;
}

.articletext {
 
  width: 50%;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  
}
.eventInfo a{
  color: rgb(51, 37, 241); 
}
.eventInfo a:hover{
  text-decoration: none;
  font-weight: bold;
}




