.trainerCardDiv{
   
    height: 25em;
    width: 25%;
    
}
.pisteTrainingDiv {
    width: auto;
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }

  .mat-elevation-z8{width: 70%;}
.trainersCardGroup{
    width: 100%;
    height: 30em;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.accordion{
    width: 70%;
}

