<div class=bodyPageDive>
  <mat-tab-group>
    <!-- *****************************Locatie en tijd*************************************************** -->
    <mat-tab class="tabsContent" label="Locatie">
        <h5>Piste training : Mahatma Gandhilaan 5 - 1080 Sint-Jans-Molenbeek</h5>
      <diV class="pisteTrainingDiv">
        <mat-table [dataSource]="dataSourcePiste" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="dag">
            <mat-header-cell *matHeaderCellDef> Dag </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dag}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tijd">
            <mat-header-cell *matHeaderCellDef> Tijd </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tijd}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="categorie">
            <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.categorie}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </diV>
     

      <h5>kracht training: werkhuizenstraat 25, 1080 Sint-Jans-Molenbeek</h5>
      <diV class="pisteTrainingDiv">
        <mat-table [dataSource]="dataSourceKracht" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="dag">
            <mat-header-cell *matHeaderCellDef> Dag </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dag}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="tijd">
            <mat-header-cell *matHeaderCellDef> Tijd </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tijd}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="categorie">
            <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.categorie}} </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </diV>
     

    </mat-tab>


    <!-- *****************************Begin trainers*************************************************** -->
    <mat-tab class="tabsContent" label="Trainers">
      <!--   trainers Kangoeroes indeleing -->
      <h4>Kangoeroes : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Kangoeroes kaart -->

      <!--   trainers benjamins indeleing -->
      <h4>Benjamins : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde benjamins kaart -->

      <!--   trainers Pupillen  indeleing -->
      <h4>Pupillen : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Pupillen kaart -->

      <!--   trainers Miniemen indeleing -->
      <h4>Miniemen : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Miniemen kaart -->

      <!--   trainers Kadetten  indeleing -->
      <h4>Kadetten  : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Kadetten  kaart -->

      <!--   trainers Scholieren indeleing -->
      <h4>Scholieren : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Scholieren kaart -->

      <!--   trainers Sprintersgroep indeleing -->
      <h4>Sprintersgroep : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Sprintersgroep kaart -->

      <!--   trainers Langeafstandsgroep indeleing -->
      <h4>Langeafstandsgroep : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Langeafstandsgroep kaart -->

      <!--   trainers Recreantengroep indeleing -->
      <h4>Recreantengroep : geboortejaar</h4>
      <mat-divider></mat-divider>
      <div class="trainersCardGroup">
        <div class=trainerCardDiv>
          <mat-card class="example-card">

            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <div class=trainerCardDiv>
          <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Sedric Lodonou</p>
              <p>26 jaar</p>
              <p>Initiator atletiek,bewegens animator</p>
              <p>6 jaar trainers ervaring</p>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- einde 1 trainersgroep per jaar  -->

      </div>
      <!-- einde Recreantengroep kaart -->
      
    </mat-tab>

  </mat-tab-group>
</div>
