.contactDivForm{
    width: 70%;
    height: 70%;
   
    margin :0 auto;
    padding-top: 2em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
   margin: 0 auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  textarea{
      height: 5em;
  }
  