.wedstrijdDiv{ width: auto;
    height: auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
margin-top: 2em;}
    .mat-elevation-z8,.mat-paginator{width: 90%;align-self: center;}

    .mat-typography{ height: auto; width: 95%;  font-family: "Times New Roman", Times, serif;margin-top: 2em;}
    h1{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

h3{
  
    font-style: italic;
	margin-top: 3em;
	font-size: 14px;
}

.iconBlack{color:black;font-size:30px;}

.resultdiv{width:100%;height:auto;display:flex;flex-direction:row;}
.resultIcon{width:2.5em;height:auto;padding-top:0.5em;}
.resultext{width:40%;height:100%;margin-left:0.5em;padding-top:1em;}
.formInschrijvingClass{width: 70%;height: auto; display: flex;flex-direction: row;flex-wrap: wrap; justify-content: space-around; margin: 0 auto;}
.inputHalfLengt{width: 45%; margin-left: 1em;}
.inputRadioSelect{width: 30%; margin-left: 1em;margin-right: 3em;}
.inputthity{width: 20%; margin-left: 1em;}
.formButton{width: 30%;margin:  0 auto ;margin-top: 2em;}