<div class=bodyPageDive>
  <div class="mat-typography">
    <h4>Wie zijn we</h4>
    <p>Atlemo is een Nederlandstalige Brusselse atletiekclub die openstaat voor jong en oud en oud, recreant en
      competitie
      atleet, met daarnaast ook een sociaal aspect.<br> De club tracht op een laagdrempelige manier open te staan voor
      alle
      jongeren en ouderen uit de buurt. Al onze jeugdtrainers zijn bovendien voormalige jeugdatleten die opgeleid en<br>
      gevormd werden tot een gediplomeerde trainer. Voor de jeugdatleetjes worden twee of drie clubtrainingen per week
      voorzien. Voor de volwassen atleten drie<br> trainingen of meer per week (naargelang de vraag en het niveau van de
      atleet). Daarnaast wordt er gezamenlijk aan verschillende wedstrijden<br> deelgenomen, worden er sportstages - en
      kampen
      georganiseerd, alsook een eigen jogging.</p>

    <h4>Inschrijving</h4>
    <p>U kunt <a class="LinkOnlineInschrijven" href="/inschrijving">online</a> inschrijven on op Atlemo op
      afscpraak.<br>
      Prijsindeling* :</p>

    <ul>
      <li>Kanggoeroes en Benjamins(6-9 jaar). <span class="boldClass">€65 per jaar</span> (€45 omnio)</li>
      <li>Pupillen en Miniemen(10-13 jaar). <span class="boldClass">€85 per jaar</span> (€65 omnio)</li>
      <li>Kadetten,Scholieren en junioren(14-19 jaar). <span class="boldClass">€90 per jaar</span> (€65 omnio)</li>
      <li>Senioren en Masters(Competitie). <span class="boldClass">€120 per jaar</span> (€80 omnio)</li>
      <li>Senioren en Masters(recreatief). <span class="boldClass">€60 per jaar</span> (€40 omnio)</li>

    </ul>
    <p class="boldClass">*Er is korting voor meerdere leden uit hetzelde gezin</p>

    <h4>Kledij</h4>
    <p>wedstrijduitrusting:<button (click)="meerMinderToggle()" mat-stroked-button color="primary" class="meerMinder">Tonen/Verbergen</button>
      <br>
      <span *ngIf="!isCollapsed" class="cardALge">
        <mat-card class="example-card">

          <img mat-card-image src="../../assets/img/Singlet1.jpg" alt="looptrui voorkant">
          <mat-card-content>
            <p>Clubtrui met loopshort(voor)</p>
            <p>€10</p>
            <p>Kindermaten:</p>
            <p>volwassenmaten:</p>

          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="../../assets/img/Singlet2.jpg" alt="looptrui achterkant">
          <mat-card-content>
            <p>Clubtrui met loopshort(achter)</p>
            <p>€10</p>
            <p>Kindermaten:</p>
            <p>volwassenmaten:</p>
          </mat-card-content>
        </mat-card>
      </span>
    <p>Pull:Info nog niet beschiekbaar</p>
    <p>T-shirt:Info nog niet beschiekbaar</p>
    <p>Training:Info nog niet beschiekbaar</p>



    <h4>Organisatie</h4>
    <div class="divRaadVanBestuur">
      <!-- begin kaart Johan -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Johan Leman</h1>
          <p><span class="boldClass">Functie:</span>Voorzitter</p>
          <p><span class="boldClass">Email:</span> johan.leman@foyer.be</p>
        </div>
      </div>
      <!-- begin kaart maarten -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Maarten Dejonghe</h1>
          <p><span class="boldClass">Functie:</span>Dagelijkse werking/coördinatie</p>
          <p><span class="boldClass">Email:</span> maarte.dejo@atlemo.be</p>
        </div>
      </div>
 <!-- einde kaart maarten -->
      <!-- begin kaart Hamza Tahaouart -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Hamza Tajaouart</h1>
          <p><span class="boldClass">Functie:</span> Sportief directeur</p>
          <p><span class="boldClass">Email:</span> hamza.tajaouart.atlemo.be</p>
          
        </div>
      </div>
 <!-- einde kaart Hamza Tahaouart -->

      <!-- begin kaart Ilyas Fatihi  -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Ilyas Fatihi </h1>
          <p><span class="boldClass">Functie:</span> Jeugdcoördinator</p>
          <p><span class="boldClass">Email:</span> </p>
        </div>
      </div>
 <!-- einde kaart Ilyas Fatihi -->
      <!-- begin kaart Bernd Maier  -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Bernd Maier </h1>
          <p><span class="boldClass">Functie:</span> Verantwoordelijke administratie</p>
          <p><span class="boldClass">Email:</span> berndmaier21@hotmail.com</p>
        </div>
      </div>
 <!-- einde kaart Bernd Maier  -->
      <!-- begin kaart Chantal Uyttendaele -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Chantal Uyttendaele</h1>
          <p><span class="boldClass">Functie:</span> Financieel verantwoordelijke</p>
          <p><span class="boldClass">Email:</span> chantal.uyttendaele@foyer.be</p>
        
        </div>
      </div>
 <!-- einde kaart Chantal Uyttendaele -->
      <!-- begin kaart Sedric Lodonou -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/RaadSed.jpg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Sedric Lodonou</h1>
          <p><span class="boldClass">Functie:</span> Communicatieverantwoordelijke</p>
          <p><span class="boldClass">Email:</span>sedric.lodonou@atlemo.be </p>
        </div>
      </div>
 <!-- einde kaart Sedric Lodonou -->
      


    </div>
  </div>


</div>
