h4{
    font-weight: bold;
    font-style: italic;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

p{font-size: 15px;}

.mat-typography{ height: auto; width: 95%;  font-family: "Times New Roman", Times, serif;}
.LinkOnlineInschrijven{}
.LinkOnlineInschrijven:hover{color: red;text-decoration: none;}
.boldClass{font-weight: bold;}

.meerMinder{font-size:10px; }
.meerMinder:hover{color: rgb(15, 15, 15);}
.cardALge{width:60%; height:auto;display: flex;
    flex-direction: row; margin-top: 1em;}
.example-card{height: 100%;width:20%;margin-right:1em;}
 .mat-card-image{height:15em;}
 .divRaadVanBestuur{width:100%; height:auto;display: flex;
    flex-direction: row; flex-wrap:wrap;}
    .RaadVanBestuurCard{width:30%; height:10em;margin-left:1em;margin-top:1em;display: flex;
    flex-direction: row;padding-top:1em;padding-bottom:1em;background-color:rgb(235, 235, 235); border-top:rgb(51, 37, 241) ridge;border-bottom:rgb(51, 37, 241) ridge;}
    .raadFoto{height:100%;width:39%;}    
    .raadText{height:100%;width:60%;padding-left:1em;}    
    .raadFotosOpmaak{height:100%;width:100%;}