.recordsDiv{width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
margin-top: 2em;}

mat-panel-description{

    width: 20%;
}
mat-panel-title{
    width: 20%;
}