<div class=bodyPageDive>
  <mat-tab-group>
    <mat-tab label="Outdoor">
      <div class="recordsDiv">
        <mat-accordion>
          <!--*********************************Begin  expension voor BEN Meisjes************************************************** -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                BENJAMINS
              </mat-panel-title>
              <mat-panel-description>
                MEISJES
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-table [dataSource]="dataSourceBenM" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="discipline">
                <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="naam">
                <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="plaats">
                <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="records">
                <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-expansion-panel>

          <!--*********************************Begin  expension voor BEN Jongens************************************************** -->

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                BENJAMINS
              </mat-panel-title>
              <mat-panel-description>
                JONGENS
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-table [dataSource]="dataSourceBenJ" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="discipline">
                <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="naam">
                <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="plaats">
                <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="records">
                <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-expansion-panel>

          <!--*********************************Begin  expension voor PUPILLEN  Meisjes************************************************** -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  PUPILLEN 
              </mat-panel-title>
              <mat-panel-description>
                MEISJES
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-table [dataSource]="dataSourcePupM" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="discipline">
                <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="naam">
                <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="plaats">
                <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="records">
                <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-expansion-panel>

          <!--*********************************Begin  expension voor PUPILLEN Jongens************************************************** -->

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  PUPILLEN
              </mat-panel-title>
              <mat-panel-description>
                JONGENS
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-table [dataSource]="dataSourcePupJ" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="discipline">
                <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="naam">
                <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="datum">
                <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="plaats">
                <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="records">
                <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-expansion-panel>

           <!--*********************************Begin  expension voor MINIEMEN   Meisjes************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    MINIEMEN  
                </mat-panel-title>
                <mat-panel-description>
                  MEISJES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceMinM" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor MINIEMEN  Jongens************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    MINIEMEN 
                </mat-panel-title>
                <mat-panel-description>
                  JONGENS
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceMinJ" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>

              <!--*********************************Begin  expension voor KADETTEN    Dames************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    KADETTEN   
                </mat-panel-title>
                <mat-panel-description>
                  DAMES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceKadD" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor KADETTEN   Heren************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    KADETTEN  
                </mat-panel-title>
                <mat-panel-description>
                  HEREN
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceKadH" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>

            <!--*********************************Begin  expension voor SCHOLIEREN  Dames************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    SCHOLIEREN    
                </mat-panel-title>
                <mat-panel-description>
                  DAMES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceSchD" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor SCHOLIEREN  Heren************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    SCHOLIEREN   
                </mat-panel-title>
                <mat-panel-description>
                  HEREN
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceSchH" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>

            <!--*********************************Begin  expension voor JUNIORS   Dames************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    JUNIORS     
                </mat-panel-title>
                <mat-panel-description>
                  DAMES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceJunD" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor JUNIORS   Heren************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    JUNIORS    
                </mat-panel-title>
                <mat-panel-description>
                  HEREN
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceJunH" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>

             <!--*********************************Begin  expension voor SENIORS    Dames************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    SENIORS      
                </mat-panel-title>
                <mat-panel-description>
                  DAMES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceSenD" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor SENIORS    Heren************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    SENIORS     
                </mat-panel-title>
                <mat-panel-description>
                  HEREN
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceSenH" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>

             <!--*********************************Begin  expension voor MASTERS     Dames************************************************** -->
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    MASTERS       
                </mat-panel-title>
                <mat-panel-description>
                  DAMES
                </mat-panel-description>
              </mat-expansion-panel-header>
  
              <mat-table [dataSource]="dataSourceMinM" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
  
            <!--*********************************Begin  expension voor MASTERS     Heren************************************************** -->
  
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    MASTERS      
                </mat-panel-title>
                <mat-panel-description>
                  HEREN
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="dataSourceMinJ" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>
  
  
  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
              </mat-table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>




    <!-- einde  outdoor  clubrecord -->
    <mat-tab label="indoor"> 
        <div class="recordsDiv">
            <mat-accordion>
              <!--*********************************Begin  expension voor BEN Meisjes************************************************** -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    BENJAMINS
                  </mat-panel-title>
                  <mat-panel-description>
                    MEISJES
                  </mat-panel-description>
                </mat-expansion-panel-header>
    
                <mat-table [dataSource]="dataSourceBenMind" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="discipline">
                    <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="naam">
                    <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="datum">
                    <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                  </ng-container>
    
                  <!-- Weight Column -->
                  <ng-container matColumnDef="plaats">
                    <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="records">
                    <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                  </ng-container>
    
    
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
                </mat-table>
    
                <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-expansion-panel>
    
              <!--*********************************Begin  expension voor BEN Jongens************************************************** -->
    
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    BENJAMINS
                  </mat-panel-title>
                  <mat-panel-description>
                    JONGENS
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="dataSourceBenJind" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="discipline">
                    <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="naam">
                    <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="datum">
                    <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                  </ng-container>
    
                  <!-- Weight Column -->
                  <ng-container matColumnDef="plaats">
                    <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="records">
                    <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                  </ng-container>
    
    
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
                </mat-table>
    
                <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-expansion-panel>
    
              <!--*********************************Begin  expension voor PUPILLEN  Meisjes************************************************** -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      PUPILLEN 
                  </mat-panel-title>
                  <mat-panel-description>
                    MEISJES
                  </mat-panel-description>
                </mat-expansion-panel-header>
    
                <mat-table [dataSource]="dataSourcePupMind" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="discipline">
                    <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="naam">
                    <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="datum">
                    <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                  </ng-container>
    
                  <!-- Weight Column -->
                  <ng-container matColumnDef="plaats">
                    <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="records">
                    <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                  </ng-container>
    
    
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
                </mat-table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-expansion-panel>
    
              <!--*********************************Begin  expension voor PUPILLEN Jongens************************************************** -->
    
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      PUPILLEN
                  </mat-panel-title>
                  <mat-panel-description>
                    JONGENS
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-table [dataSource]="dataSourcePupJind" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="discipline">
                    <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="naam">
                    <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="datum">
                    <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                  </ng-container>
    
                  <!-- Weight Column -->
                  <ng-container matColumnDef="plaats">
                    <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="records">
                    <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                  </ng-container>
    
    
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
                </mat-table>
    
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </mat-expansion-panel>
    
               <!--*********************************Begin  expension voor MINIEMEN   Meisjes************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        MINIEMEN  
                    </mat-panel-title>
                    <mat-panel-description>
                      MEISJES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceMinMind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor MINIEMEN  Jongens************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        MINIEMEN 
                    </mat-panel-title>
                    <mat-panel-description>
                      JONGENS
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceMinJind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
    
                  <!--*********************************Begin  expension voor KADETTEN    Dames************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        KADETTEN   
                    </mat-panel-title>
                    <mat-panel-description>
                      DAMES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceKadDind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor KADETTEN   Heren************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        KADETTEN  
                    </mat-panel-title>
                    <mat-panel-description>
                      HEREN
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceKadHind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
    
                <!--*********************************Begin  expension voor SCHOLIEREN  Dames************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        SCHOLIEREN    
                    </mat-panel-title>
                    <mat-panel-description>
                      DAMES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceSchDind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor SCHOLIEREN  Heren************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        SCHOLIEREN   
                    </mat-panel-title>
                    <mat-panel-description>
                      HEREN
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceSchHind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
    
                <!--*********************************Begin  expension voor JUNIORS   Dames************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        JUNIORS     
                    </mat-panel-title>
                    <mat-panel-description>
                      DAMES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceJunDind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor JUNIORS   Heren************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        JUNIORS    
                    </mat-panel-title>
                    <mat-panel-description>
                      HEREN
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceJunHind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
    
                 <!--*********************************Begin  expension voor SENIORS    Dames************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        SENIORS      
                    </mat-panel-title>
                    <mat-panel-description>
                      DAMES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceSenDind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor SENIORS    Heren************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        SENIORS     
                    </mat-panel-title>
                    <mat-panel-description>
                      HEREN
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceSenHind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
    
                 <!--*********************************Begin  expension voor MASTERS     Dames************************************************** -->
               <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        MASTERS       
                    </mat-panel-title>
                    <mat-panel-description>
                      DAMES
                    </mat-panel-description>
                  </mat-expansion-panel-header>
      
                  <mat-table [dataSource]="dataSourceMinMind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
      
                <!--*********************************Begin  expension voor MASTERS     Heren************************************************** -->
      
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        MASTERS      
                    </mat-panel-title>
                    <mat-panel-description>
                      HEREN
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-table [dataSource]="dataSourceMinJind" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="discipline">
                      <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                    </ng-container>
      
                    <!-- Name Column -->
                    <ng-container matColumnDef="naam">
                      <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="datum">
                      <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                    </ng-container>
      
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plaats">
                      <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="records">
                      <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                    </ng-container>
      
      
      
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      
                  </mat-table>
      
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-expansion-panel>
            </mat-accordion>
          </div>

    </mat-tab>
  </mat-tab-group>
</div>
