/* You can add global styles to this file, and also import other style files */
/* @import "~material-icons/iconfont/material-icons.css" */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* BEGIN CSS for the header portion*/
.MainHeaderDive{
/*  border: red ridge ; */
    width: 100%;
    height: auto;
    padding-top:3em;
    background-color: black;
    
   
}
.headerFoto{
   height: 100%;
    width: 100%;
}
/* .imgHeader{
 
    width: 100%;
    height: 25em;
    margin: 0 auto;
    background-color: black;


} */
 svg {
    width: 24px;
    height: 24px;
    transform: scale(1.5);
}
.icons{
    width: 20px;
    height: 24px;
    padding-bottom: 1em;
    margin-right: 2.5em;
    margin-top: 1em;
}


.navHeader{
  /*   border: black ridge; */
    width: 100%;
    height: 4em;
}
.navbar{
    justify-content: space-between;
    height: 100%;
    background-color: rgb(51, 37, 241);
    
    
}
.iconhome{
    color: white;
}
.spanNave{
    padding-right: 1rem;
    background-color: rgb(51, 37, 241);
   

}
.spanNave:hover{
    
    color:white;;
}
.submenu:hover{
    
    color:rgb(51, 37, 241);
}


/* END CSS for the header portion*/


/*BEGIN CSS body portion*/
body{
    margin: 0px;
    padding: 0px;
    /* margin-left: 1%;
    margin-right: 1%; */
    position: relative;
    height: 100%;
    width: 100%;
    
}
.boldClass{font-weight: bold;}
.bodyPageDive{
    /*  border: yellow ridge; */
    
    height: auto;
    padding:1%;
    /* height: auto; */
  
   
}
.bodybody{
    /* border: rgb(255, 81, 0) ridge;    */
    height: 100%;
    width: 100%;
    overflow: hidden;  
}
.tabsContent{
    padding-top: 2em;
}

.mat-header-cell {
    color: white;
    background-color: rgb(51, 37, 241);
    font-size: 12px;
}

/*END CSS body portion*/


/*BEGIN CSS footer portion*/
.footerDive{
    width: 100%;
    height: 4em;
   bottom:0;
    /* border: black ridge; */
    background-color: rgb(17, 17, 17);
    color: aliceblue;
  
   /*  margin-top: 1em; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.logos{
  border: red ridge;
    width: 8%;
    height: 100%;
    margin-left: 0.5em;
}

.fotosLogos{width:100%;height: 100%;}
/*END CSS footer portion*/
